{{- if not .Values.database.existingAdminSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "loom-masterdata-configuration.adminSecretName" . }}
  labels:
    {{- include "loom-masterdata-configuration.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
    helm.sh/resource-policy: keep
type: Opaque
data:
  password: {{ required "database.adminPassword is required when not using existingAdminSecret" .Values.database.adminPassword | b64enc | quote }}
{{- end }}

---
{{- if not .Values.database.existingServiceSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "loom-masterdata-configuration.serviceSecretName" . }}
  labels:
    {{- include "loom-masterdata-configuration.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
    helm.sh/resource-policy: keep
type: Opaque
data:
  username: {{ .Values.database.serviceUser | b64enc | quote }}
  password: {{ required "database.servicePassword is required when not using existingServiceSecret" .Values.database.servicePassword | b64enc | quote }}
  connection-string: {{ printf "Host=%s;Port=%d;Database=%s;Username=%s;Password=%s" (include "loom-masterdata-configuration.dbHost" .) (.Values.database.port | int) .Values.database.name .Values.database.serviceUser .Values.database.servicePassword | b64enc | quote }}
{{- end }}


