apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "loom-configuration.fullname" . }}-config
  labels:
    {{- include "loom-configuration.labels" . | nindent 4 }}
data:
  appsettings.json: |
    {
      "Logging": {
        "LogLevel": {
          "Default": "Information",
          "Microsoft.AspNetCore": "Warning"
        }
      },
      "AllowedHosts": "*"
    }
  flyway.conf: |
    flyway.url=jdbc:postgresql://{{ include "loom-configuration.dbHost" . }}:{{ .Values.database.port }}/{{ .Values.database.name }}
    flyway.user={{ .Values.database.serviceUser }}
    flyway.password={{ .Values.database.servicePassword }}
    flyway.schemas=public
    flyway.locations=filesystem:/flyway/sql
    flyway.baselineOnMigrate=true
    flyway.validateOnMigrate=true

