{{- if .Values.layout.enabled }}
{{- if not .Values.layoutDatabase.existingAdminSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "loom-configuration.fullname" . }}-layout-db-admin
  labels:
    {{- include "loom-configuration.labels" . | nindent 4 }}
    app.kubernetes.io/component: layout-db-admin
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
    helm.sh/resource-policy: keep
type: Opaque
data:
  password: {{ required "layoutDatabase.adminPassword is required when not using existingAdminSecret" .Values.layoutDatabase.adminPassword | b64enc | quote }}
{{- end }}

---
{{- if not .Values.layoutDatabase.existingServiceSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "loom-configuration.fullname" . }}-layout-db-service
  labels:
    {{- include "loom-configuration.labels" . | nindent 4 }}
    app.kubernetes.io/component: layout-db-service
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-10"
    helm.sh/resource-policy: keep
type: Opaque
data:
  username: {{ .Values.layoutDatabase.serviceUser | b64enc | quote }}
  password: {{ required "layoutDatabase.servicePassword is required when not using existingServiceSecret" .Values.layoutDatabase.servicePassword | b64enc | quote }}
  connection-string: {{ printf "Host=%s;Port=%d;Database=%s;Username=%s;Password=%s" (include "loom-configuration.dbHost" .) (.Values.layoutDatabase.port | int) .Values.layoutDatabase.name .Values.layoutDatabase.serviceUser .Values.layoutDatabase.servicePassword | b64enc | quote }}
{{- end }}
{{- end }}

